<%= render "shared/navbar" %>

<div class="container">
  <h1>Add a movie</h1>

  <div class="form">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
